<a href="https://colab.research.google.com/github/lala901018/0725/blob/main/untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numpy**

In [ ]:
import numpy as np

# **格點**

In [ ]:
x = np.array([1, 2, 3]) #numpy.array最基本用來創造array的方法，常用於初始化陣列
x

array([1, 2, 3])

In [ ]:
y = np.arange(10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# **基本運算**

In [ ]:
a = np.array([1, 2, 3, 6])
b = np.linspace(0, 2, 4) #linspace在一定範圍來均勻地撒點，(等差)
c = a - b
c

array([1.        , 1.33333333, 1.66666667, 4.        ])

In [ ]:
a**2

array([ 1,  4,  9, 36])

# **全域方法**

In [ ]:
a = np.linspace(-np.pi, np.pi, 100)
b = np.sin(a)
c = np.cos(a)

NameError: ignored

# **線性代數**

In [ ]:
from numpy.random import rand
from numpy.linalg import solve, inv
a = np.array([[1, 2, 3], [3, 4, 6.7], [5, 9.0, 5]])
a.transpose()

array([[1. , 3. , 5. ],
       [2. , 4. , 9. ],
       [3. , 6.7, 5. ]])

In [ ]:
inv(a)

array([[-2.27683616,  0.96045198,  0.07909605],
       [ 1.04519774, -0.56497175,  0.1299435 ],
       [ 0.39548023,  0.05649718, -0.11299435]])

In [ ]:
b =  np.array([3, 2, 1])
solve(a, b) # 解方程式 ax = b

array([-4.83050847,  2.13559322,  1.18644068])

In [ ]:
c = rand(3, 3) # 建立一個 3x3 隨機矩陣
c

array([[0.7648824 , 0.78654744, 0.13363304],
       [0.01026124, 0.26283777, 0.49167493],
       [0.55159295, 0.51234576, 0.18694295]])

In [ ]:
np.dot(a, c) # 矩陣相乘

array([[2.44018373, 2.84926026, 1.67781176],
       [6.03136492, 6.84370998, 3.62011664],
       [6.67472792, 8.86000592, 6.02795436]])

In [ ]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20180131'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")),
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：
df = df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))

# 顯示出來
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,50.0,NaN,4251739,1176,359040915,84.40,85.00,84.15,84.65,1.0,0.10,84.60,21,84.65,80,0.0,NaN
1,51.0,NaN,7500,3,243040,32.39,32.39,32.39,32.39,1.0,0.09,32.39,43,32.50,5,0.0,NaN
2,52.0,NaN,4001,5,229706,57.35,57.60,57.30,57.40,1.0,0.05,57.35,1,57.90,1,0.0,NaN
3,53.0,NaN,1,1,37,NaN,NaN,NaN,NaN,NaN,0.00,37.09,50,37.35,1,0.0,NaN
4,54.0,NaN,2001,3,48904,24.44,24.44,24.44,24.44,-1.0,0.05,24.41,50,24.64,8,0.0,NaN

In [ ]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

def crawl_price(date):
    r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + str(date).split(' ')[0].replace('-','') + '&type=ALL')
    ret = pd.read_csv(StringIO("\n".join([i.translate({ord(c): None for c in ' '})
                                        for i in r.text.split('\n')
                                        if len(i.split('",')) == 17 and i[0] != '='])), header=0)
    ret = ret.set_index('證券代號')
    ret['成交金額'] = ret['成交金額'].str.replace(',','')
    ret['成交股數'] = ret['成交股數'].str.replace(',','')
    return ret

In [ ]:
import datetime
import time

data = {}
n_days = 9
date = datetime.datetime.now()
fail_count = 0
allow_continuous_fail_count = 5
while len(data) < n_days:

    print('parsing', date)
    # 使用 crawPrice 爬資料
    try:
        # 抓資料
        data[date.date()] = crawl_price(date)
        print('success!')
        fail_count = 0
    except:
        # 假日爬不到
        print('fail! check the date is holiday')
        fail_count += 1
        if fail_count == allow_continuous_fail_count:
            raise
            break

    # 減一天
    date -= datetime.timedelta(days=1)
    time.sleep(10)

parsing 2023-07-18 02:39:54.671726
fail! check the date is holiday
parsing 2023-07-17 02:39:54.671726
success!
parsing 2023-07-16 02:39:54.671726
fail! check the date is holiday
parsing 2023-07-15 02:39:54.671726
fail! check the date is holiday
parsing 2023-07-14 02:39:54.671726
success!
parsing 2023-07-13 02:39:54.671726
success!
parsing 2023-07-12 02:39:54.671726
success!
parsing 2023-07-11 02:39:54.671726
success!
parsing 2023-07-10 02:39:54.671726
success!
parsing 2023-07-09 02:39:54.671726
fail! check the date is holiday
parsing 2023-07-08 02:39:54.671726
fail! check the date is holiday
parsing 2023-07-07 02:39:54.671726
success!
parsing 2023-07-06 02:39:54.671726
success!
parsing 2023-07-05 02:39:54.671726
success!

In [ ]:
close = pd.DataFrame({k:d['收盤價'] for k,d in data.items()}).transpose()
close.index = pd.to_datetime(close.index)
close

證券代號,1101,1101B,1102,1103,1104,1108,1109,1110,1201,1203,...,9940,9941,9941A,9942,9943,9944,9945,9946,9955,9958
2023-07-17,36.75,48.10,43.90,21.40,31.15,16.50,17.30,19.55,19.80,41.45,...,29.15,218.50,50.20,149.00,91.30,21.50,35.45,13.70,23.30,149.00
2023-07-14,37.00,48.00,43.90,21.25,30.55,16.55,17.30,19.35,19.80,41.20,...,29.50,215.00,50.20,151.50,92.10,21.20,35.55,13.85,23.50,144.00
2023-07-13,36.80,47.95,43.80,21.25,29.95,16.55,17.35,19.20,19.70,41.60,...,29.15,212.50,50.30,152.50,91.40,20.85,35.20,13.70,23.10,144.50
2023-07-12,36.60,47.85,43.95,21.45,30.15,16.20,18.05,18.90,19.85,42.15,...,29.10,210.50,50.30,154.50,91.00,20.85,35.25,14.05,23.05,143.00
2023-07-11,36.55,47.75,43.90,21.60,29.90,16.55,18.05,19.15,19.95,42.20,...,29.20,209.00,50.20,149.00,94.20,21.15,35.70,14.00,23.00,140.50
2023-07-10,36.85,49.15,43.85,20.75,29.55,16.25,18.05,18.90,19.90,42.80,...,28.80,207.00,50.10,146.50,91.90,21.15,35.85,14.00,23.10,146.00
2023-07-07,37.30,49.10,43.95,21.00,29.75,16.10,18.15,18.60,19.95,43.85,...,28.40,204.50,50.00,148.00,91.40,21.60,35.40,14.15,23.35,144.00
2023-07-06,37.25,49.05,44.10,21.35,30.60,16.30,18.25,18.90,19.95,43.75,...,28.45,205.00,49.95,151.50,91.10,21.60,35.55,14.25,23.80,136.50
2023-07-05,37.80,49.10,44.70,21.65,30.75,16.65,18.45,19.00,20.05,44.00,...,28.45,210.00,49.95,149.50,93.70,21.95,36.15,14.30,23.90,131.00

linspace指在依定範圍內來均勻地撒點(等差數列)

numpy.arange 以等差數列的形式產生指定間隔

numpy.array 指最基本用來創造array的方法常用來初始化陣列

bool(布林值) int(整數) float(浮點數) complex(複數)

*   start 從某數開始，預設0
*   stop 到某數停止(不含)
*   step 間隔多少